.detail-window {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 85%;
  width: 90%;
  background: #efefef;
  overflow: auto;
  z-index: 1000;

  &__inner-container {
    position: relative;
    overflow: hidden;

  }

  &__header {
    background: #efefef;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    max-width: 90%;

    div {
      background: #efefef;
      padding: 5px;
      width: 120px;
      min-width: 120px;
      word-wrap: break-word;
      border: 1px solid black;
      text-align: center;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;

    div {
      padding: 5px;
      width: 120px;
      min-width: 120px;
      word-wrap: break-word;
      border-top: 1px solid black;
      border-right: 1px solid black;
      text-align: center;
    }
  }

  .button {
    width: 100px;
    height: 25px;
    z-index: 1000000;
    position: fixed;
    top: 92%;
    left: calc(50% - 50px);

  }
}