.add-new-window {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 90%;
  width: 90%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 4px;

  .error-message-box {

  }

  .add-new-data {
    padding: 10px;
    font-size: 14px;

    &-box {
      padding: 10px 0;
      display: flex;
      position: relative;
    }
  }

  .add-new-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
  }

  .name {

    &-title {
      width: 15%;
      text-align: end;
      padding: 2px 5px 0 0;
      position: relative;

    }

    &-value {
      width: 85%;
      padding: 0 5px;
      position: relative;
    }
  }

  .short {

    &-title {
      width: 15%;
      text-align: end;
      padding: 2px 5px 0 0;
    }

    &-value {
      width: 85%;
      padding: 0 5px;
    }
  }

  .year {

    &-title {
      width: 15%;
      text-align: end;
      padding: 2px 5px 0 0;
    }

    &-from {
      border: 1px solid black;
      text-align: center;
      position: relative;
    }

    &-div {
      padding: 0 5px;
      font-size: 18px;
    }

    &-to {
      border: 1px solid black;
      text-align: center;
      position: relative;
    }
  }

  .code {

    &-title {
      width: 15%;
      text-align: end;
      padding: 0 5px;
    }

    &-value {
      border: 1px solid black;
      width: 85%;
      padding: 0 5px;
      position: relative;
    }
  }

  .buttons {
    &-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &-save {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 30px;
      margin: 0 2px;
      border: 1px solid black;
      border-radius: 3px;
      background: #efefef;
      text-align: center;
      font-size: 14px;
      user-select: none;
      position: relative;
      &:hover {
        background: darken(#efefef, 5);
      }

      &:active {
        background: lighten(#efefef, 1);
      }

    }

    &-cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 30px;
      margin: 0 2px;
      border: 1px solid black;
      border-radius: 3px;
      background: #efefef;
      text-align: center;
      font-size: 14px;
      user-select: none;

      &:hover {
        background: darken(#efefef, 5);
      }

      &:active {
        background: lighten(#efefef, 1);
      }
    }
  }
}