.footer {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span:first-child {
    font-size: 22px;
  }

  span:last-child {
    margin: 0 5px;
    font-weight: 500;
    font-size: 12px;
  }
}