.linker {
  position: relative;
  width: 100%;
  height: calc(100vh - 170px);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__top-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    min-height: 250px;
  }

  &__object {
    width: 600px;

    .button {
      width: 30px;
      height: 30px;
      margin: 0 2px;
    }

    &-size-code {
      width: 75px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 5px;
      text-overflow: ellipsis;

    }

    &-size-year {
      width: 50px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 5px;
      text-overflow: ellipsis;

    }

    &-size-name {
      width: 375px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 5px;
      text-overflow: ellipsis;

    }

    &-title {
      display: flex;
    }

    &-box {
      padding: 10px 0;
      //border: 1px solid black;
    }

    &-main {
      display: flex;
      align-items: center;

      &:hover {
        background: lightgray;
        border-radius: 5px;
      }

      &-box {
        display: flex;
      }
    }

    &-additional {
      display: flex;
      align-items: center;
      padding: 2px 0;

      &:hover {
        background: lightgray;
        border-radius: 5px;
      }

      &-container {
        padding: 10px 0;
        height: 150px;
        overflow: auto;
      }

      &-box {
        display: flex;

      }
    }

  }

  &__control {
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-similarity {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      label {
        font-size: 14px;
      }

      .select-similarity-display {
        width: 30px;
        text-align: center;
      }

      .select-similarity {
        padding: 10px 0;
      }
    }

    &-buttons {
      font-size: 14px;
      display: flex;
      flex-direction: column;

      .button {
        margin: 3px 0;
        padding: 1px;
      }
    }
  }

  &__bottom-container {
    height: calc(60% - 50px);
    min-height: 200px;
    width: 100%;
  }

  &__list-size {

    &-code {
      width: 75px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    &-year {
      width: 50px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    &-ready {
      width: 75px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    &-ministry {
      width: 150px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    &-territory {
      width: 150px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    &-program {
      width: 130px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    &-name {
      width: 220px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    &-details {
      width: 140px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }
  }


  &__list {
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    min-height: calc(100% - 40px);
    overflow: auto;

    &-header {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      padding: 10px 0;
      margin-right: 17px;
    }

    &-item {
      font-size: 14px;
      display: flex;
      justify-content: space-evenly;
      padding: 3px 0;

      &:hover {
        background: lightgray;
        border-radius: 5px;
      }

      .button {
        font-size: 12px;
      }
    }
  }

}


