.linker {
  position: relative;
  width: 100%;
  height: calc(100vh - 170px);
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__top-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    min-height: 250px;
  }

  &__object {
    width: 600px;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin: 0 2px;
      border: 1px solid black;
      border-radius: 3px;
      background: #efefef;
      text-align: center;
      font-size: 24px;
      user-select: none;

      &:hover {
        background: darken(#efefef, 5);
      }

      &:active {
        background: lighten(#efefef, 1);
      }
    }

    &-size-code {
      width: 75px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 5px;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-size-year {
      width: 50px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 5px;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-size-name {
      width: 375px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      padding: 0 5px;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-title {
      display: flex;
    }

    &-box {
      padding: 10px 0;
      //border: 1px solid black;
    }

    &-main {
      display: flex;
      align-items: center;
      //justify-content: space-between;
      border-radius: 6px;

      &:hover {
        background: lightgray;
        border-radius: 5px;
      }

      &-box {
        display: flex;
      }
    }

    &-additional {
      display: flex;
      align-items: center;
      //justify-content: space-between;
      padding: 2px 0;
      border-radius: 6px;


      &:hover {
        background: lightgray;
        border-radius: 5px;
      }

      &-container {
        padding: 10px 0;
        height: 150px;
        overflow: auto;
      }

      &-box {
        display: flex;

      }
    }

  }

  &__control {
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-similarity {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      label {
        font-size: 14px;
      }

      .select-similarity-display {
        width: 30px;
        text-align: center;
        margin-left: 3px;
      }

      .select-similarity {
        padding: 10px 0;
      }
    }

    &-buttons {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      position: relative;

      .error-message-box {

        top: 50%;
        left: 50%;
        transform: translate(-50%);
      }

      .button {
        position: relative;
        margin: 3px 0;
        padding: 1px;
        .error-message-box {
          top: 20px;
        }
      }
    }
  }

  &__bottom-container {
    height: calc(60% - 50px);
    max-height: calc(60% - 50px);
    min-height: 200px;
    width: 100%;
  }

  &__list-size {

    &-code {
      width: 75px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-year {
      width: 50px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-ready {
      width: 75px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-ministry {
      width: 150px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-territory {
      width: 150px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-program {
      width: 130px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-name {
      width: 220px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
    }

    &-details {
      width: 140px;
      padding: 0 5px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: default;
    }
  }

  &__list {
    max-height: calc(100% - 40px);
    min-height: 200px;
    overflow: auto;
    position: relative;
    .error-message-box {
      top: 50%;
      left: 50%;
      transform: translate(-50% -50%);
    }

    &-header {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      padding: 10px 0;
      margin-right: 17px;
    }

    &-item {
      font-size: 14px;
      display: flex;
      justify-content: space-evenly;
      padding: 3px 0;

      &-ministry, &-territory, &-program, &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        cursor: default;
        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }

        .tooltip {
          display: inline-block;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0.3s linear, opacity 0.3s linear;
          background-color: rgb(75, 75, 75);
          color: #fff;
          border-radius: 4px;
          padding: 5px;
          position: absolute;
          width: 80%;
          margin-top: 20px;
          left: 10%;
          white-space: normal;
          z-index: 1;

          &:hover {
            visibility: hidden;
            opacity: 0;
          }
        }
      }

      &-details {
        display: flex;
        justify-content: space-evenly;
      }

      &:hover {
        background: #f5f5f5;
        border-radius: 5px;
      }

      .button {
        font-size: 12px;
      }
    }
  }
}


