@import "modules/fonts";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.container {
  height: 100vh;
  max-height: 100vh;
  min-width: 1200px;
  min-height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@import "modules/header";
@import "modules/center";
@import "modules/menu";
@import "modules/footer";
@import "modules/display";
@import "modules/hierarchy-view";
@import "modules/pagination";
@import "modules/linker";
@import "modules/upload";